.pokemonmenu{
  text-align: center;
  margin-top: 40%;
}

input{
  width: 60%;
  height: 60%;
}

body {
  background-color: #4a624a;
  background-image: url(images/loadingscreen.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}

.title {
  color: white;
}

.finalsubmit {
  display: none;
}